body{
    padding-top: 60px;
    padding-bottom: 40px;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;
    padding: 10px 0px;
    background-color: #ffffff
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}

.fixed-header nav li{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    text-decoration: none;
    padding-top: : 7px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 25px;
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.fixed-header ul, .fixed-footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.fixed-header ul li, .fixed-footer ul li {
    display: inline;
    margin-right: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: orange;
    font-weight: bold;
    text-decoration: none/* underline */;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
