body{
    padding-top: 50px;
    padding-bottom: 40px;
}

.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}

.fixed-header {
    width: 100%;
    position: fixed;
    padding: 10px 0px;
    background-color: #ffffff;
    top: 0;

    nav li {
      font-family:'Helvetica', 'Arial', 'Sans-Serif';
      font-weight: bold;
      text-decoration: none;
      padding-top: : 7px;
      padding-bottom: 7px;
      padding-left: 0px;
      padding-right: 25px;
      list-style: none;
      display: inline;
      margin-right: 20px;
    }

    ul {
      font-family:'Helvetica', 'Arial', 'Sans-Serif';
      padding: 0px;
      list-style: none;
      font-weight: bold;
    }

    ul li {
      display: inline;
      margin-right: 20px;
      list-style-type: none;
    }
  }

.fixed-footer{
    width: 100%;
    position: fixed;
    padding: 10px 0px;
    background-color: #ffffff;
    bottom: 0;

    ul {
      font-family:'Helvetica', 'Arial', 'Sans-Serif';
      padding: 0px;
      list-style: none;
      font-weight: bold;
    }

    ul li {
      display: inline;
      margin-right: 20px;
      list-style-type: none;
    }
  }

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: orange;
    font-weight: bold;
    text-decoration: none/* underline */;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}







Icons
  ========================================================================== */

.icon {
 display: inline-block;
 fill: currentColor;
 width: 1em;
 height: 1.1em;
 line-height: 1;
 position: relative;
 top: -0.1em;
 vertical-align: middle;
}

/* social icons*/

.social-icons {
 .fas,
 .fab,
 .far,
 .fal {
   color: $text-color;
 }

 .fa-behance,
 .fa-behance-square {
   color: $behance-color;
 }

 .fa-bitbucket {
   color: $bitbucket-color;
 }

 .fa-dribbble,
 .fa-dribble-square {
   color: $dribbble-color;
 }

 .fa-facebook,
 .fa-facebook-square,
 .fa-facebook-f {
   color: $facebook-color;
 }

 .fa-flickr {
   color: $flickr-color;
 }

 .fa-foursquare {
   color: $foursquare-color;
 }

 .fa-github,
 .fa-github-alt,
 .fa-github-square {
   color: $github-color;
 }

 .fa-gitlab {
   color: $gitlab-color;
 }

 .fa-instagram {
   color: $instagram-color;
 }

 .fa-keybase {
   color: $keybase-color;
 }

 .fa-lastfm,
 .fa-lastfm-square {
   color: $lastfm-color;
 }

 .fa-linkedin,
 .fa-linkedin-in {
   color: $linkedin-color;
 }

 .fa-mastodon,
 .fa-mastodon-square {
   color: $mastodon-color;
 }

 .fa-pinterest,
 .fa-pinterest-p,
 .fa-pinterest-square {
   color: $pinterest-color;
 }

 .fa-reddit {
   color: $reddit-color;
 }

 .fa-rss,
 .fa-rss-square {
   color: $rss-color;
 }

 .fa-soundcloud {
   color: $soundcloud-color;
 }

 .fa-stack-exchange,
 .fa-stack-overflow {
   color: $stackoverflow-color;
 }

 .fa-tumblr,
 .fa-tumblr-square {
   color: $tumblr-color;
 }

 .fa-twitter,
 .fa-twitter-square {
   color: $twitter-color;
 }

 .fa-vimeo,
 .fa-vimeo-square,
 .fa-vimeo-v {
   color: $vimeo-color;
 }

 .fa-vine {
   color: $vine-color;
 }

 .fa-youtube {
   color: $youtube-color;
 }

 .fa-xing,
 .fa-xing-square {
   color: $xing-color;
 }
}

/* brands */
$behance-color: #1769ff !default;
$bitbucket-color: #205081 !default;
$dribbble-color: #ea4c89 !default;
$facebook-color: #3b5998 !default;
$flickr-color: #ff0084 !default;
$foursquare-color: #0072b1 !default;
$github-color: #171516 !default;
$gitlab-color: #e24329 !default;
$instagram-color: #517fa4 !default;
$keybase-color: #ef7639 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$mastodon-color: #2b90d9 !default;
$pinterest-color: #cb2027 !default;
$reddit-color: #ff4500 !default;
$rss-color: #fa9b39 !default;
$soundcloud-color: #ff3300 !default;
$stackoverflow-color: #fe7a15 !default;
$tumblr-color: #32506d !default;
$twitter-color: #55acee !default;
$vimeo-color: #1ab7ea !default;
$vine-color: #00bf8f !default;
$youtube-color: #bb0000 !default;
$xing-color: #006567 !default;
