html, body{
    padding-top: 20px;
    padding-bottom: 40px;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* HEADER AND FOOTER */

.fixed-header{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0px;
    background-color: White;
    text-align: left;
    color: #999;
}

.fixed-footer{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px 0px;
    background-color: White;
    text-align: center;
    color: #999;
}

.fixed-header nav li{
    font-weight: bold;
    text-decoration: none;
    padding-top: : 7px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 25px;
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.fixed-header ul, .fixed-footer ul {
    padding: 0px;
    list-style: none;
}

.fixed-header ul li, .fixed-footer ul li {
    display: inline;
    margin-right: 20px;
    list-style-type: none;
}

/* CONTACT */

.contact-list{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  text-align: left;
  width: 90%;
}

.contact-list ul li {
    margin-top: 2px;
    list-style-type: none;
    display: inline;
}

.contact-list a {
  text-decoration: none;
  color: Black;
  font-size: 11pt;
}

.contact-list ul li a i {
	background: #205D7A;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}

/* ALIGNMENTS */
.left{
    float:left;
}

.center{
    float:center;
}

.right{
    padding-top: 15px;
    float:right;
}

/* FONT ENVIRONMENTS */
a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: orange;
    text-decoration: none/* underline */;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h4 {
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h5 {
    font-size: 1.0em;
    font-family:'Helvetica', 'Arial Narrow', 'Sans-Serif';
}

p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* 'ABOUT' COLUMNS */

/* Create two unequal columns that floats next to each other */
.about-left {
  float: left;
  padding: 0px 20px;
  vertical-align: top;
  text-align: left;
  width: 35%;
  background: White;
}

.about-right {
  float: left;
  padding-left: 0px;
  vertical-align: top;
  width: 55%;
  background: White;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  border-radius: 50%;
  pointer-events: none;
}

/* social icons*/

.social-icons {
 .fas,
 .fab,
 .far,
 .fal {
   color: $text-color;
 }

 .fa-behance,
 .fa-behance-square {
   color: $behance-color;
 }

 .fa-bitbucket {
   color: $bitbucket-color;
 }

 .fa-dribbble,
 .fa-dribble-square {
   color: $dribbble-color;
 }

 .fa-facebook,
 .fa-facebook-square,
 .fa-facebook-f {
   color: $facebook-color;
 }

 .fa-flickr {
   color: $flickr-color;
 }

 .fa-foursquare {
   color: $foursquare-color;
 }

 .fa-github,
 .fa-github-alt,
 .fa-github-square {
   color: $github-color;
 }

 .fa-gitlab {
   color: $gitlab-color;
 }

 .fa-instagram {
   color: $instagram-color;
 }

 .fa-keybase {
   color: $keybase-color;
 }

 .fa-lastfm,
 .fa-lastfm-square {
   color: $lastfm-color;
 }

 .fa-linkedin,
 .fa-linkedin-in {
   color: $linkedin-color;
 }

 .fa-mastodon,
 .fa-mastodon-square {
   color: $mastodon-color;
 }

 .fa-pinterest,
 .fa-pinterest-p,
 .fa-pinterest-square {
   color: $pinterest-color;
 }

 .fa-reddit {
   color: $reddit-color;
 }

 .fa-rss,
 .fa-rss-square {
   color: $rss-color;
 }

 .fa-soundcloud {
   color: $soundcloud-color;
 }

 .fa-stack-exchange,
 .fa-stack-overflow {
   color: $stackoverflow-color;
 }

 .fa-tumblr,
 .fa-tumblr-square {
   color: $tumblr-color;
 }

 .fa-twitter,
 .fa-twitter-square {
   color: $twitter-color;
 }

 .fa-vimeo,
 .fa-vimeo-square,
 .fa-vimeo-v {
   color: $vimeo-color;
 }

 .fa-vine {
   color: $vine-color;
 }

 .fa-youtube {
   color: $youtube-color;
 }

 .fa-xing,
 .fa-xing-square {
   color: $xing-color;
 }
}

/* brands */
$behance-color: #1769ff !default;
$bitbucket-color: #205081 !default;
$dribbble-color: #ea4c89 !default;
$facebook-color: #3b5998 !default;
$flickr-color: #ff0084 !default;
$foursquare-color: #0072b1 !default;
$github-color: #171516 !default;
$gitlab-color: #e24329 !default;
$instagram-color: #517fa4 !default;
$keybase-color: #ef7639 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$mastodon-color: #2b90d9 !default;
$pinterest-color: #cb2027 !default;
$reddit-color: #ff4500 !default;
$rss-color: #fa9b39 !default;
$soundcloud-color: #ff3300 !default;
$stackoverflow-color: #fe7a15 !default;
$tumblr-color: #32506d !default;
$twitter-color: #55acee !default;
$vimeo-color: #1ab7ea !default;
$vine-color: #00bf8f !default;
$youtube-color: #bb0000 !default;
$xing-color: #006567 !default;
