// VARIABLES

// font font-family
$font-family: 'Helvetica', 'Arial', 'Sans-Serif';

// font colors
$default-color : black;
$theme-color-1 : #999; // light gray
$theme-color-2 : #268bd2; // blue
$header-color : Black;
$footer-color : Black; // blue

// hover colors
$hover-font-1 : orange;
$hover-font-2 : white;

// theme colors
$background-color-1: white;
$background-color-2: white;


// The box-sizing property includes the padding and border in an element's total width and height.
* {box-sizing: border-box;}

// Global font family
* {font-family: $font-family;}

a {
  color: #999;
  text-decoration: none;
  &:hover{text-decoration: none; color:$hover-font-1;}
  &:visited{coror: inherit;}
}
