//----------------------------------------------------------------------
// COLORS
//----------------------------------------------------------------------

// base colors
$font-color  : black;
$page-color  : #F5F5F5;
$link-color  : black;
$hover-color : orange;

// header colors
$header-color      : #F5F5F5;
$header-text-color : #404040;

// navigation colors
$navbar-color          : #F5F5F5;
$navbar-text-color     : #404040;

// footer colors
$footer-color      : #F5F5F5;
$footer-text-color : #404040;

//----------------------------------------------------------------------
// FONT
//----------------------------------------------------------------------

// font family
$font-family : 'Cabin','Palatino Linotype',
                Palatino, Helvetica, Arial, sans-serif;

// font sizes
$default-font-size : 1rem;

//----------------------------------------------------------------------
// MEDIA SCREEN
//----------------------------------------------------------------------

$small-screen  : 480px;
$medium-screen : 768px;
$large-screen  : 1024px;
