---
layout: default
title: Contact me
---

<!-- page container -->
<div class="container">

<!-- title -->
  <h1>Contact me</h1 >

<!-- contact list -->
  <div class="contact-list">

<!-- loop over social -->
    <ul>
      {% if site.author.links %}
        {% for item in site.author.links %}
          {% if item.label and item.url %}
            <li><a href="{{ item.url }}" rel="nofollow noopener noreferrer" target="_blank">
              <i class="{{ item.icon }} fa-2x" aria-hidden="true" style=" vertical-align: middle;"></i>
              {{ item.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>

<!-- end of contact list -->
  </div>

<!-- end of page container -->
</div>
