<head>
  <meta charset="UTF-8">

<!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- page titles -->
  <title>
    {% if page.title == "Home" %}
      &middot; {{ site.title }} &middot;
    {% else %}
      {{ site.title }} &middot; {{ page.title }}
    {% endif %}
  </title>

  <meta name="description" content="Personal website of Manuel Bogoni, Ph.D., water resources engineer">

<!-- CSS -->
  <link rel="stylesheet" href={{ "/css/styles.css" | relative_url }}>

<!-- Google fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gotu" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />


<!-- icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- charts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
