//----------------------------------------------------------------------
// FLOATS
//----------------------------------------------------------------------

.float-left { float: left;  display: inline; }
.float-right { float: right; display: inline; }
.float-none { float: none; }
