---
layout: default
title: Manuel Bogoni | About me
---
	<h1>About me</h1>

	<h2>Education</h2>
	<p>
		2017 | <strong>Ph.D.</strong>, Hydrodynamics, <em>University of Padova</em><br>
		2016 | <strong>Visiting scholar</strong>, <em>Rice University</em><br>
	  2013 | <strong>M.Sc.</strong>, Civil Engineering, <em>University of Padova</em><br>
	  2010 | <strong>B.Sc.</strong>, Civil Engineering, <em>University of Padova</em>
	</p>

	<ul>
		{% if site.bio.education %}
			{% for edu in site.bio.education %}
				{% if edu.year and edu.title %}
					<li>{{ edu.year }} | <strong>{{ edu.title }}</strong>, {{ edu.details }}, <em>{{ edu.schhol }}</em></li>
			{% endfor %}
		{% endif %}
	</ul>

	<h2>Experience</h2>
	<p>
		2018-2020 | <strong>Project engineer</strong>, <em>Studio Altieri S.p.A.</em><br>
	  2017-2018 | <strong>Postdoctoral researcher</strong>, <em>University of Padova</em><br>
	  2014-2017 | <strong>Doctoral researcher</strong>, <em>University of Padova</em><br>
	</p>
