---
layout: default
title: Manuel Bogoni | About me
---
	<h1>About me</h1>

<!-- loop over schools, if year and title are listed in config -->
	{% if site.bio.education %}
		<h2>Education</h2>
	{% endif %}
	
	<p>
		{% if site.bio.education %}
			{% for edu in site.bio.education %}
				{% if edu.year and edu.title %}
						 <!-- year -->
						{{ edu.year }} |
						 <!-- achievement -->
						<strong>{{ edu.title }}</strong>
						<!-- detail, if exists -->
						{% if edu.detail %}
						, {{ edu.detail }}
						{% endif %}
						<!-- school, if exists -->
						{% if edu.school %}
						, <em>{{ edu.school }}</em>
						{% endif %}
					  <br>
				{% endif %}
			{% endfor %}
		{% endif %}
	</p>

	<h2>Experience</h2>
	<p>
		2018-2020 | <strong>Project engineer</strong>, <em>Studio Altieri S.p.A.</em><br>
	  2017-2018 | <strong>Postdoctoral researcher</strong>, <em>University of Padova</em><br>
	  2014-2017 | <strong>Doctoral researcher</strong>, <em>University of Padova</em><br>
	</p>
