---
---

.fixed-footer{
  width: 100%;
  position: fixed;
  padding: 10px 0px;
  background-color: #ffffff;
  bottom: 0;

  ul {
      font-family:'Helvetica', 'Arial', 'Sans-Serif';
      padding: 0px;
      list-style: none;
      font-weight: bold;

      li {
        display: inline;
        margin-right: 20px;
        list-style-type: none;
      }
  }
}
