.fixed-header ul, .fixed-footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.fixed-header ul li, .fixed-footer ul li {
    display: inline;
    margin-right: 20px;
    list-style-type: none;
