// LAYOUT INSIDE FOOTER

.footer{
  padding-left: 0%;
  padding-right: 0%;
  text-align: center;

  border-top-width: 5px;
border-top-style: solid;
border-top-color: red;
padding-top: 10px;

  ul {
    list-style: none;

    li {
      display: inline;
      margin-right: 20px;
    }
  }
}

// Responsive layout:
// when the screen is less than 400px wide, make the navigation links
// stack on top f each other instead of next to each other.
@media screen and (max-width: 400px) {
  .footer ul {
    float: none;
    width: 100%;
  }
}
