<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<body>

<!-- upper navigation-->
			<div class="fixed-header">
	        <div class="container">
	            <nav>
								<li><a href="/">Home</a></li>
			        	<li><a href="/about">About</a></li>
		        		<li><a href="/blog">Blog</a></li>
	            </nav>
	        </div>
	    </div>

<!-- container -->
			<div class="container">
			{{ content }}
			</div>

<!-- lower navigation-->
</div>
<div class="fixed-footer">
	<div class="container"><!-- Copyright &copy; 2020 Manuel Bogoni -->
	    		<ul>
	        		<li><a href="mailto:xxxx@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/xxxx">GitHub</a></li>
							<li><a href="https://www.linkedin.com/in/manuelbogoni/">LinkedIn</a></li>
							<li><a href="https://twitter.com/ManuelBogoni">Twitter</a></li>
				</ul>
			</div>
			</div>

		</body>
	</html>
